/**
 * @File   : config.scss
 * @Author : dtysky (dtysky@outlook.com)
 * @Date   : 11/2/2018, 4:55:29 PM
 * @Description:
 */
$topbar-height: 56px;
$content-top: $topbar-height + 1px;
$theme-color: #45CD71;
$primary-color: $theme-color;
